{% extends 'vagas/base.html' %}
{% load widget_tweaks %}
{% block title %}Candidatar-se{% endblock %}
{% block content %}
<h2>Candidatura</h2>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-md-6 mb-3">
            <label class="form-label">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {{ field.errors }}
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Enviar Candidatura</button>
    <a href="{%url 'vaga-list' %}" class="btn btn-secondary">Voltar</a>
</form>
{% endblock %}