{% extends 'vagas/base.html' %}
{% block title %}Bem-Vindo ao EmpregaSenac{% endblock %}
{% block content %}
    <div class="text-center">
        <h2>Bem-vindo ao EmpregaSenac</h2>
        <p class="lead">Encontre oportunidades ou cadastre vagas com facilidade.</p>
        <div class="mt-4 d-flex justify-content-center gap-3 flex-wrap">
            <a href="{% url 'login' %}" class="btn btn-primary btg-lg">Entrar</a>
            <a href="{% url 'signup_candidato' %}" class="btn btn-outline-primary btg-lg">Sou Candidato</a>
            <a href="{% url 'signup_empresa' %}" class="btn btn-outline-secondary btg-lg">Sou Empresa</a>
        </div>
    </div>
{% endblock %}


