{% extends 'vagas/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label"></label>
        <input type="text" name="username" id="username" class="form-control">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label"></label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Entrar</button>
    <a href="{% url 'vaga-list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
