{% extends 'vagas/base.html' %}
{% load widget_tweaks %}
{% block title %}Gerenciar Vaga{% endblock %}
{% block content %}
<h2>{% if form.instance.pk %}Editar Vaga{% else %}Nova Vaga{% endif %}</h2>
<form method="post">
    <div class="row">
      {% csrf_token %}
      {% for field in form %}
      <div class="col-md-6 mb-3">
          <label class="form-label">{{ field.label }}</label>
          {{ field|add_class:"form-control" }}
          {{ field.errors }}
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
